boto3==1.35.13
pytest==8.3.2
requests==2.32.3
moto==5.0.13
apache-airflow-providers-amazon
apache-airflow-providers-cncf-kubernetes
python-dotenv==1.0.1
tqdm==4.66.5
awscli==1.34.15
botocore==1.35.15
stream-unzip==0.0.93
